.about-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-rows: 25% 75%;
  grid-template-areas: "about-pic" "about-info";
}

.about-container {
  border: 2px dashed rgb(1, 79, 79);
  border-radius: 20px;
  padding: 0 20px;
  /* margin-top: 20px; */
  grid-area: about-info;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-container p {
  font-family: Urbanist Light;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
}

.about-pic {
  object-fit: cover;
  opacity: 0.8;
  /* height: 100%; */
  width: 100%;
  grid-area: about-pic;
  /* border-radius:px; */
  margin-top: 10px;
  /* margin-left: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-pic2 {
  object-fit: cover;
  width: 100%;
  grid-area: about-pic2;
  border-radius: 30px;
}

.about-container h2 {
}
