.footer {
  color: white;
  margin: 0 auto;
  width: 100%;
  /* transform: translateY(-40px); */
}
.floating-footer {
  display: flex;
  /* position: sticky;
  top: 0; */
  align-items: center;
  justify-content: left;
  background-color: black;
  margin-top: 20px;
  height: 100px;
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: tomato;
}
