.footer {
  margin: 0 auto;
  width: 100%;
  /* transform: translateY(-40px); */
}
.floating-footer {
  display: flex;
  /* position: sticky;
  top: 0; */
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 40px;
  color: white;
}
