.container {
  display: grid;
  grid-template-columns: minmax(150px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: 350px auto auto;
  grid-template-areas: "nav" "content" "player";
  grid-area: "container";
}

/* .header {
  grid-area: "header";
} */

.footer {
  grid-area: "footer";
}
.nav {
  display: grid;
  grid-template-columns: minmax(150px, auto);
  grid-template-rows: repeat (8, 1fr);
  grid-template-areas: "john" "about" "discography" "services" "gear" "social" "contact";
  grid-area: nav;
}

.soma-logo-box {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 8;
}

.content {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: content;
  height: fit-content;
  /* grid-template-areas: "main-photo" "abt-cont" "discog-cont" "gear-cont"; */
}

.social {
  grid-area: social;
}

.about {
  grid-area: about;
}

.gear {
  grid-area: gear;
}

.discography {
  grid-area: discography;
}

.contact {
  grid-area: contact;
}

h1.nav-logo {
  grid-area: nav-logo;
}

.player-container {
  grid-area: player;
}

/* .main-photo {
  grid-area: main-photo;
} */

.services {
  grid-area: services;
}

.gear-container {
  grid-area: gear-cont;
}

.discog-container {
  grid-area: discog-cont;
}

.nav-logo-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: john;
  grid-template-areas: "nav-logo";
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat (3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    grid-template-rows: 325px 1fr;
    grid-template-areas: "nav nav player" "content content player";
  }
  .nav {
    /* height: 500px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "john john" "about about" "discography discography" "services services" "gear gear" "social social" "contact contact";
  }
  .soma-logo-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
  }
}

@media (min-width: 992px) {
  /* .main-container { */
  /* position: relative; */
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr auto auto; */
  /* grid-template-areas: "header" "container" "footer"; */
  /* height: 100%; */
  /* } */
  .container {
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-rows: 225px 1fr;
    grid-template-areas: "nav nav nav player" "content content content player";
  }
  .nav {
    display: grid;
    grid-template-columns: 1fr 0.75fr 1.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "john john logo" "about about gear" "discography discography contact" "services services social ";
    grid-column-gap: 20px;
    grid-area: nav;
  }
  .soma-logo-box {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
